* {
  font-family: "asd";
}
.letragorda {
  font-family: "panton";
}
.verdetext {
  color: #abc526;
}
.grisoscurotext {
  color: #282828;
}
.grisoscurobg {
  background-color: #282828;
}
.verdebg {
  background-color: #abc526;
}
.grisclarobg {
  background-color: #444244;
}
.tamanio {
  font-size: small;
}
.fondonegro {
  background-color: black;
}

.listamasgrande {
  font-size: large;
}

#botonverde {
  background-color: #abc526;
}

.letrasfooter {
  color: white;
}

#whatsapp {
  width: 100px;
  position: fixed;
  z-index: 9;
  bottom: 40px;
  left: 25px;
  border-radius: 50%;
}

#productosqreparamos {
  padding-top: 123px;
  margin-top: -123px;
}
.letraProductosTitulo{
  font-family: 'panton';
}
.letraProd{
  font-family: 'asd';
}
/* css  slider principal*/

/* small */

/* md */
.tales {
  width: 100%;
  height: 650px;
}

.taless {
  width: 100%;
  height: 235px;
}
.letraNombre {
  font-family: "asd";
  color: #abc526;
}

/* css header  */
.FondoNav {
  background-color: black;
}

/* css marcas  */
.alturaMarcas {
  bottom: 100px;
  height: 80px;
}

/* css contacto */
.greenContacto {
  color: #abc526;
}
/* css quienes somosletra  */

.textQS {
  font-family: 'asd';
}
.text34 {
  font-family: 'panton';
}
.textNav{
  font-family: "pantonn";
}

.textButton{
  font-family: 'asd';
}

@font-face {
  font-family: "panton";

  src: url("/src/fonts/EurostileLTStd-Demi.otf") format("OpenType");
}
@font-face {
  font-family: "pantonn";

  src: url("/src/fonts/EurostileLTStd-Ex2.otf") format("OpenType");
}

@font-face {
  font-family: "asd";

  src: url("/src/fonts/EurostileLTStd.otf") format("OpenType");
}



/*MEDIA QUERIES*/

/*X-SMALL DEVICES PUBLICIDAD*/
@media all and (max-width: 576px) {
  .noxs {
    display: none;
  }
  #servicios,
  #inicio {
    padding-top: 92px;
    margin-top: -92px;
  }
}

/*SMALL DEVICES*/
@media all and (min-width: 576px) and (max-width: 767px) {
  .nosm {
    display: none;
  }
  #servicios,
  #inicio {
    padding-top: 92px;
    margin-top: -92px;
  }
}

/*MEDIUM DEVICES*/
@media all and (min-width: 768px) and (max-width: 991px) {
  .nomd {
    display: none;
  }
  #servicios,
  #inicio {
    padding-top: 92px;
    margin-top: -92px;
  }
}

/*LARGE DEVICES*/
@media all and (min-width: 991px) and (max-width: 1200px) {
  .nolg {
    display: none;
  }
  #servicios,
  #inicio {
    padding-top: 123px;
    margin-top: -123px;
  }
}

/*XTRA LARGE DEVICES*/
@media all and (min-width: 1200px) {
  .noxl {
    display: none;
  }
  #servicios,
  #inicio {
    padding-top: 123px;
    margin-top: -123px;
  }
}
